<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
   "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.ericrall.clearanceRUN</string>
   <key>ProgramArguments</key>
   <array>
      <string>osascript</string>
      <string>/Volumes/Victor/eric2.0/clearanceProperties.scpt</string>
   </array>
   <key>StartInterval</key>
   <integer>300</integer>
</dict>
</plist>